<html>
<head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>scrap-ticketsystem</title>
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/22484b22ca.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>
</body>
</html>