<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title>Scrap Ticketsystem</title>

    <script>

        function createTicket() {
            var catElm = document.getElementById('inputCategory');
            var prioElm = document.getElementById('inputPrio');

            /**
             * TODO: add more info
             */
            var ticket = {
                "header": document.getElementById('inputHeader').value,
                "text": document.getElementById('inputText').value,
                "category_id": catElm[catElm.selectedIndex].firstElementChild.id,
                "status_id": null,
                "comment_id": null,
                "child_ticket": null,
                "prio_id": prioElm[prioElm.selectedIndex].firstElementChild.id,
                "assign_to": null,
                "created_by": sessionStorage.getItem('user_id')
            }

            document.getElementById('buttonCreate').disabled = true;
            document.getElementById('spinner').setAttribute('class', 'spinner-border');
            document.getElementById('spinner').setAttribute('role', 'status');
            document.getElementById('spinner').innerHTML = '<span class="sr-only">loading ...</span>';

            postData('/api/v1/ticket', ticket)
            .then((data) => {
                if(data['message']) {
                    document.location.href = '/'
                }
            })
        }

        if (!sessionStorage.getItem('token')) {
            document.location.href = "/login";
        } else {
            var token = sessionStorage.getItem('token');

            /**
             * get categorys
             */
            createDrowpdown('/api/v1/category', token, 'inputCategory')

            /**
             * get prios
             */
            createDrowpdown('/api/v1/prio', token, 'inputPrio')
        }

    </script>


</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="material-icons">
                build
            </i>
            &nbsp;
            Scrap Ticketsystem
        </a>
    </nav>

    <div class="container" style="margin-top: 30px;">
        <div class="card-header">
            Ticket anlegen
        </div>
        <div class="card-body">
            <div id="loginForm">

                <div class="form-group">
                    <label>Überschrift</label>
                    <input type="text" class="form-control" id="inputHeader">
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Kategorie</label>
                            <select id="inputCategory" class="form-control" disabled>
                                <option selected>Auswählen</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Priorität</label>
                            <select id="inputPrio" class="form-control" disabled>
                                <option selected>Auswählen</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Text</label>
                    <textarea type="text" class="form-control span6" rows="6" id="inputText"></textarea>
                </div>

                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" id="buttonCreate" onclick="createTicket()">Anlegen</button>
                    </div>
                    <div class="col" id="spinner">

                    </div>
                </div>

            </div>
        </div>
</body>

</html>