<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Scrap Ticketsystem</title>

    <script>

        async function getData(url = '', token) {
            const response = await fetch(url, {
                method: 'GET',
                credentials: 'same-origin',
                headers: {
                    'token': token
                },
            });
            return await response.json();
        }

        if ((sessionStorage.getItem('token') === "null") || sessionStorage.getItem('token') === "undefined" ) {
            document.location.href = "/login"
        } else {
            console.log(sessionStorage.getItem('token'))

            getData('/api/v1/ticket/me', sessionStorage.getItem('token'))
                .then((data) => {
                    console.log(data);
                    for (const [index, item] of data.entries()) {
                        document.getElementById('tableMyTickets').innerHTML += `<tr onclick="window.location='/ticket/${item['id']}'"> <td>${item['header']}</td> <td style="color: ${item['color']}">${item['p.text']}</td>  <td>${item['c.text']}</td> </tr>`
                    }
                })

            getData('/api/v1/ticket/assingt', sessionStorage.getItem('token'))
                .then((data) => {
                    console.log(data);
                    for (const [index, item] of data.entries()) {
                        document.getElementById('tableAssingtTickets').innerHTML += `<tr onclick="window.location='/ticket/${item['id']}'"> <td>${item['header']}</td> <td style="color: ${item['color']}">${item['p.text']}</td>  <td>${item['c.text']}</td> </tr>`
                    }
                })
        }

        function logout() {
            sessionStorage.setItem('token', null)
            document.location.href = "/login";
        }

    </script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="material-icons">
                build
            </i>
            &nbsp;
            Scrap Ticketsystem
        </a>
        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="logout()">logout</button>
    </nav>


    <div class="container" style="margin-top: 30px;">
        <button onclick="document.location.href='/create_ticket'" class="btn btn-success">Create Ticket</button>

    </div>

    <div class="container" style="margin-top: 30px;">
        <div class="row justify-content-center">
            <div class="col">
                <h4>Meine Tickets</h4>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Header</th>
                                <th scope="col">Prio</th>
                                <th scope="col">Category</th>
                            </tr>
                        </thead>
                        <tbody id="tableMyTickets">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h4>Zu bearbeitende Tickets</h4>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Header</th>
                                <th scope="col">Prio</th>
                                <th scope="col">Category</th>
                            </tr>
                        </thead>
                        <tbody id="tableAssingtTickets">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>

</html>