{% extends "base.html" %}
{% block content %}

    <div class="row">
        {% for lane in status %}
            <div class="col">
                <div class="card">
                    <div class="card-head">
                        <h5 class="card-header" style="color: {{ lane['color'] }}"> {{ lane['text'] }} </h5>
                    </div>
                    <div id="status_{{ lane['id'] }}" class="card-body" ondrop="drop(event)" ondragover="allowDrop(event)">
                        {% if lane['tickets'] %}
                            {% for ticket in lane['tickets'] %}
                                <span id="{{ ticket['id'] }}" draggable="true" ondragstart="drag(event)" onclick="window.location='/ticket/{{ ticket['id'] }}'">
                                    <h5 class="card-title"> {{ ticket['header'] }} </h5>
                                    <small>erstellt von:</small>
                                    <small class="creator">{{ ticket['email'] }}</small>
                                    <br>
                                    <small>bearbeitet:</small>
                                    <small class="creator">{{ ticket['a.email'] }}</small>
                                </span>
                                <hr>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}