{% extends "base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            Sign In
        </div>
        <div class="card-body">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p class="card-text"> {{ form.email.label }} </p>
                <p> {{ form.email(size=32) }} </p>

                <p class="card-text">  {{ form.passwort.label }} </p>
                <p> {{ form.passwort(size=32) }} </p>

                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>

{% endblock %}
