{# src/templates/index.html #}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Scrap Ticketsystem</title>

    {% assets "manage_user_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="material-icons">
                build
            </i>
            &nbsp;
            Scrap Ticketsystem
        </a>
    </nav>

    <div class="container" style="margin-top: 30px;">
        <div class="row justify-content-center">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h4>Users</h4>
                    </div>
                    <div class="col text-right" id="buttonMenue">
                        <buttonn class="btn btn-sm btn-outline-secondary" onclick="editMode()">edit</button>
                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                        </thead>
                        <tbody id="tableUserRoles">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</body>

</html>